/* ==========================================================================
   Base styles, fonts, and reset
   ========================================================================== */
:root {
  --swiper-offset-before: 1.875rem;
  --swiper-offset-after: 1.875rem;
}

html {
  font-size: 16px;
}

@media (min-width: 992px) {
  html {
    font-size: 1vw;
  }
}
/* ==========================================================================
   4. Font Definitions (@font-face)
   ========================================================================== */
/* --- Family: Inter --- */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Inter_18pt-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/Inter_18pt-ThinItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Inter_18pt-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/Inter_18pt-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Inter_18pt-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Inter_18pt-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter_18pt-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Inter_18pt-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Inter_18pt-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Inter_18pt-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Inter_18pt-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/Inter_18pt-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Inter_18pt-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Inter_18pt-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Inter_18pt-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/Inter_18pt-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Inter_18pt-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/Inter_18pt-BlackItalic.ttf") format("truetype");
}
/* ==========================================================================
   5. General Styles & Utilities
   ========================================================================== */
body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  color: #333;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: 500;
}

a {
  color: #1f6f3f;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #4db04b;
  text-decoration: underline;
}

section[id] {
  scroll-margin-top: 100px;
}

.gbyte-hide-on-tablet--flex {
  display: flex;
}

.gbyte-show-on-tablet--flex {
  display: none;
}

.gbyte-hide-on-mobile--flex {
  display: flex;
}

.gbyte-show-on-mobile--flex {
  display: none;
}

.default-content {
  width: 100%;
  max-width: 85.375rem;
  margin: auto;
}

.consent-hidden-text {
  display: none;
  padding-top: 10px;
}

/* Style for the "expand/collapse" button */
.consent-toggle-button {
  cursor: pointer;
  color: #1f6f3f;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 5px;
}

.consent-toggle-button:hover {
  text-decoration: none;
}

@media (max-width: 992px) {
  .gbyte-hide-on-tablet--flex {
    display: none;
  }
  .gbyte-show-on-tablet--flex {
    display: flex;
  }
}
@media (max-width: 768px) {
  .gbyte-hide-on-mobile--flex {
    display: none;
  }
  .gbyte-show-on-mobile--flex {
    display: flex;
  }
}
.container-padding-top {
  padding-top: 8.75rem;
}

.container-padding-bottom {
  padding-bottom: 8.75rem;
}

@media screen and (max-width: 992px) {
  .container-padding-top {
    padding-top: 3.75rem;
  }
  .container-padding-bottom {
    padding-bottom: 3.75rem;
  }
}
/* ==========================================================================
   Section with columns (universal)
   ========================================================================== */
.gbyte-columns {
  background-color: #fff;
}
.gbyte-columns .gbyte-container {
  width: 100%;
  margin: auto;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}
.gbyte-columns .gbyte-columns__row {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  background-color: #f1f0f5;
}
.gbyte-columns .gbyte-columns__row .gbyte-columns__item {
  flex: 1;
  min-width: 0;
  height: 100%;
}
.gbyte-columns .gbyte-columns__row .gbyte-columns__item .gbyte-columns__content-wrapper {
  padding: 5.625rem 8.75rem 5.625rem 5.625rem;
}
.gbyte-columns .gbyte-columns__row .gbyte-columns__item .gbyte-columns__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75rem 0.75rem 0 0;
}
@media (min-width: 768px) {
  .gbyte-columns .gbyte-columns__row--img-left .gbyte-columns__image {
    border-radius: 0.75rem 0 0 0.75rem;
  }
}
@media (min-width: 768px) {
  .gbyte-columns .gbyte-columns__row--img-right .gbyte-columns__image {
    border-radius: 0 0.75rem 0.75rem 0;
  }
}
.gbyte-columns .gbyte-columns__row .gbyte-columns__content .gbyte-columns__title {
  font-size: 2rem;
  line-height: 2.375rem;
  color: #00040c;
  margin-bottom: 2.8125rem;
}
.gbyte-columns .gbyte-columns__row .gbyte-columns__content .gbyte-columns__text {
  font-size: 1.125rem;
  line-height: 1.625rem;
  margin-bottom: 3.125rem;
}
.gbyte-columns .gbyte-columns__row .gbyte-columns__content svg .b {
  fill: #fff;
}
.gbyte-columns .gbyte-columns__row .gbyte-columns__content:hover svg .b {
  fill: #fff;
}

@media (max-width: 992px) {
  .gbyte-columns {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 4.375rem;
  }
  .gbyte-columns .gbyte-container {
    width: 100%;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .gbyte-columns .gbyte-columns__row {
    border-radius: 0.75rem;
    align-items: stretch;
  }
  .gbyte-columns .gbyte-columns__row .gbyte-columns__item .gbyte-columns__content-wrapper {
    padding: 3.125rem 1.875rem 4.375rem 1.875rem;
  }
  .gbyte-columns .gbyte-columns__row .gbyte-columns__item .gbyte-columns__image {
    width: 100%;
  }
  .gbyte-columns .gbyte-columns__row .gbyte-columns__content .gbyte-columns__title {
    font-size: 2rem;
    line-height: 2.375rem;
    color: #00040c;
    margin-bottom: 2.5rem;
  }
  .gbyte-columns .gbyte-columns__row .gbyte-columns__content .gbyte-columns__text {
    font-size: 1.125rem;
    line-height: 1.625rem;
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 768px) {
  .gbyte-columns {
    padding: 0;
  }
  .gbyte-columns__row {
    flex-direction: column;
  }
}
.gbyte-columns.gbyte-columns--hero {
  height: calc(100vh - var(--header-height, 0px));
  padding: 1.5625rem 0 0 0;
  margin-bottom: 12.5rem;
}
.gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row {
  align-items: stretch;
  background-color: #fff;
}
.gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row .gbyte-columns__item {
  height: 100%;
  display: flex;
  justify-content: flex-start;
}
.gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row .gbyte-columns__item .gbyte-columns__image {
  width: auto;
}
.gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row .gbyte-columns__item .gbyte-columns__content-wrapper {
  height: 100%;
  padding: 0 5.625rem 0 0;
}
.gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row .gbyte-columns__item.gbyte-columns__item--relative {
  position: relative;
}
.gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row .gbyte-columns__item.gbyte-columns__item--relative .gbyte-columns__image-caption {
  position: absolute;
  bottom: 0.625rem;
  right: 0.625rem;
  padding: 0.5rem 1.875rem;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  border-radius: 1.625rem;
  backdrop-filter: blur(1px);
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 0;
}
.gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row .gbyte-columns__content {
  display: flex;
  align-items: stretch;
  height: 100%;
  flex-direction: column;
}
.gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row .gbyte-columns__content .gbyte-columns__title {
  font-size: 4.5rem;
  line-height: 4.75rem;
  color: #00040c;
  margin-bottom: 2.8125rem;
}
.gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row .gbyte-columns__content .gbyte-columns__text {
  font-size: 1.125rem;
  line-height: 1.625rem;
  margin-bottom: 5.625rem;
  color: #00040c;
}
.gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row .gbyte-columns__content .gbyte-columns__text-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 36.25rem;
}
.gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row .gbyte-columns__content .gbyte-btn--with-icon {
  background-color: #fafafa;
  color: #00040c;
  border: 1px solid transparent;
}
.gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row .gbyte-columns__content .gbyte-btn--with-icon .gbyte-btn__icon-wrapper .gbyte-img-icon {
  transition: transform 0.3s ease-in-out;
}
.gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row .gbyte-columns__content .gbyte-btn--with-icon svg {
  transition: transform 0.3s ease-in-out;
}
.gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row .gbyte-columns__content .gbyte-btn--with-icon svg .b {
  fill: #00040c;
}
.gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row .gbyte-columns__content .gbyte-btn--with-icon:hover {
  background-color: #eceae8;
  border: 1px solid #eceae8;
}
.gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row .gbyte-columns__content .gbyte-btn--with-icon:hover .gbyte-btn__icon-wrapper .gbyte-img-icon {
  transform: scale(1.03);
}

@media (max-width: 992px) {
  .gbyte-columns.gbyte-columns--hero {
    padding: 1.5625rem 1.875rem 0 1.875rem;
    margin-bottom: 4.375rem;
    height: auto;
  }
  .gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row {
    align-items: stretch;
    background-color: #fff;
  }
  .gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row .gbyte-columns__item .gbyte-columns__content-wrapper {
    height: 100%;
    padding: 0 0 0 0;
  }
  .gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row .gbyte-columns__item.gbyte-columns__item--relative {
    position: relative;
  }
  .gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row .gbyte-columns__item.gbyte-columns__item--relative img {
    width: 100%;
  }
  .gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row .gbyte-columns__item.gbyte-columns__item--relative .gbyte-columns__image-caption {
    position: absolute;
    bottom: 0.625rem;
    right: 0.3125rem;
    padding: 0.5rem 0.625rem;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    border-radius: 1rem;
    backdrop-filter: blur(1px);
    font-size: 0.75rem;
    line-height: 1rem;
    margin-bottom: 0;
  }
  .gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row .gbyte-columns__content {
    display: flex;
    align-items: stretch;
    height: 100%;
    flex-direction: column;
  }
  .gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row .gbyte-columns__content .gbyte-columns__title {
    font-size: 2.625rem;
    line-height: 2.875rem;
    margin-bottom: 1.5625rem;
  }
  .gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row .gbyte-columns__content .gbyte-columns__text {
    font-size: 1rem;
    line-height: 1.625rem;
    margin-bottom: 1.5625rem;
    color: #00040c;
  }
  .gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row .gbyte-columns__content .gbyte-columns__text-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__row .gbyte-columns__content .gbyte-btn {
    display: none;
  }
  .gbyte-columns.gbyte-columns--hero .gbyte-container .gbyte-columns__link-wrapper {
    display: none;
  }
}
@media (max-width: 992px) {
  .gbyte-columns.gbyte-columns--hero {
    padding: 1.5625rem 0.9375rem 0 0.9375rem;
  }
}

/*# sourceMappingURL=columns.css.map */
