/* ==========================================================================
   Base styles, fonts, and reset
   ========================================================================== */
:root {
  --swiper-offset-before: 1.875rem;
  --swiper-offset-after: 1.875rem;
}

html {
  font-size: 16px;
}

@media (min-width: 992px) {
  html {
    font-size: 1vw;
  }
}
/* ==========================================================================
   4. Font Definitions (@font-face)
   ========================================================================== */
/* --- Family: Inter --- */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Inter_18pt-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/Inter_18pt-ThinItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Inter_18pt-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/Inter_18pt-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Inter_18pt-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Inter_18pt-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter_18pt-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Inter_18pt-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Inter_18pt-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Inter_18pt-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Inter_18pt-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/Inter_18pt-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Inter_18pt-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Inter_18pt-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Inter_18pt-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/Inter_18pt-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Inter_18pt-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/Inter_18pt-BlackItalic.ttf") format("truetype");
}
/* ==========================================================================
   5. General Styles & Utilities
   ========================================================================== */
body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  color: #333;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: 500;
}

a {
  color: #1f6f3f;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #4db04b;
  text-decoration: underline;
}

section[id] {
  scroll-margin-top: 100px;
}

.gbyte-hide-on-tablet--flex {
  display: flex;
}

.gbyte-show-on-tablet--flex {
  display: none;
}

.gbyte-hide-on-mobile--flex {
  display: flex;
}

.gbyte-show-on-mobile--flex {
  display: none;
}

.default-content {
  width: 100%;
  max-width: 85.375rem;
  margin: auto;
}

.consent-hidden-text {
  display: none;
  padding-top: 10px;
}

/* Style for the "expand/collapse" button */
.consent-toggle-button {
  cursor: pointer;
  color: #1f6f3f;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 5px;
}

.consent-toggle-button:hover {
  text-decoration: none;
}

@media (max-width: 992px) {
  .gbyte-hide-on-tablet--flex {
    display: none;
  }
  .gbyte-show-on-tablet--flex {
    display: flex;
  }
}
@media (max-width: 768px) {
  .gbyte-hide-on-mobile--flex {
    display: none;
  }
  .gbyte-show-on-mobile--flex {
    display: flex;
  }
}
.container-padding-top {
  padding-top: 8.75rem;
}

.container-padding-bottom {
  padding-bottom: 8.75rem;
}

@media screen and (max-width: 992px) {
  .container-padding-top {
    padding-top: 3.75rem;
  }
  .container-padding-bottom {
    padding-bottom: 3.75rem;
  }
}
/* ==========================================================================
   Section: Image Overlay
   ========================================================================== */
.gbyte-image-overlay {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}
.gbyte-image-overlay .gbyte-image-overlay__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 28.125rem;
  background-size: cover;
  background-position: center;
  border-radius: 0.75rem;
  padding: 8.4375rem 0;
  overflow: hidden;
  color: #fff;
  text-align: center;
  transition: transform 0.4s ease;
}
.gbyte-image-overlay__content {
  position: relative;
  z-index: 2;
  max-width: 56.25rem;
}
.gbyte-image-overlay__icon {
  width: 5.625rem;
  margin-bottom: 4.0625rem;
  height: auto;
}
.gbyte-image-overlay__title {
  font-size: 2rem;
  line-height: 2.375rem;
  margin-bottom: 2.8125rem;
}
.gbyte-image-overlay__text {
  font-size: 1.125rem;
  line-height: 1.625rem;
  margin-bottom: 0;
}

.gbyte-image-overlay.gbyte-image-overlay--layout-02 {
  margin-bottom: 2.5rem;
}
.gbyte-image-overlay.gbyte-image-overlay--layout-02 .gbyte-image-overlay__title {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .gbyte-image-overlay {
    padding: 0;
    margin-bottom: 4.375rem;
  }
  .gbyte-image-overlay .gbyte-image-overlay__container {
    justify-content: flex-start;
    min-height: 28.125rem;
    padding: 4.375rem 1.875rem;
    text-align: center;
    transition: transform 0.4s ease;
    border-radius: 0;
  }
  .gbyte-image-overlay__content {
    position: relative;
    z-index: 2;
    max-width: 56.25rem;
  }
  .gbyte-image-overlay__icon {
    width: 5.625rem;
    margin-bottom: 2.5rem;
  }
  .gbyte-image-overlay__title {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.5625rem;
  }
  .gbyte-image-overlay__text {
    font-size: 1.125rem;
    line-height: 1.625rem;
    margin-bottom: 0;
  }
  .gbyte-image-overlay.gbyte-image-overlay--layout-02 {
    margin-bottom: 0.625rem;
  }
  .gbyte-image-overlay.gbyte-image-overlay--layout-02 .gbyte-image-overlay__title {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .gbyte-image-overlay .gbyte-image-overlay__container {
    justify-content: flex-start;
    min-height: 28.125rem;
    padding: 4.375rem 1.875rem;
    text-align: left;
    transition: transform 0.4s ease;
    border-radius: 0;
  }
}

/*# sourceMappingURL=image-overlay.css.map */
