@use "base" as *;

.gbyte-contact-info {
    padding-top: to-rem(100px);
    padding-bottom: 0;
    .gbyte-container {
        padding: 0 to-rem(30px) to-rem(40px) to-rem(30px);
        width: 100%;
        max-width: to-rem(1366px);
        margin: auto 0 0 0;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $black-color;
        p {
            font-size: to-rem(18px);
            line-height: to-rem(26px);
            margin-bottom: 0;
        }
        address {
            margin-bottom: to-rem(30px);
            font-style: normal;
        }
    }
    &__box--top-space {
        padding-top: to-rem(40px);
    }
    &__box--bottom-space {
        padding-bottom: to-rem(40px);
    }

    &__items-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: to-rem(30px);
        padding-bottom: to-rem(20px);
    }

    &__item {
        p {
            color: $black-color;
            font-size: to-rem(18px);
            line-height: to-rem(26px);
            text-align: left;
        }

        a {
            color: $black-color;
            text-decoration: none;
            font-style: normal;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__box-title {
        font-size: to-rem(24px);
        line-height: to-rem(32px);
        color: $black-color;
        margin-bottom: to-rem(40px);
    }

    &__box-subtitle {
        font-size: to-rem(16px);
        line-height: to-rem(26px);
        color: $second_text_color;
    }

    &__divider {
        width: 100%;
        height: to-rem(1px);
        background-color: #c5c5c5;
    }
}

@media (max-width: 992px) {
    .gbyte-contact-info {
        padding-top: to-rem(70px);
        padding-bottom: to-rem(70px);
        .gbyte-container {
            padding: 0 to-rem(15px);
        }

        &__items-wrapper {
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            gap: to-rem(30px);
            padding-bottom: 0;
        }
    }
}

@media (max-width: 768px) {
    .gbyte-contact-info {
        padding-top: to-rem(50px);
        padding-bottom: to-rem(50px);
        &__items-wrapper {
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            gap: to-rem(30px);
        }
        &__divider {
            margin: to-rem(30px) 0;
        }
        &__divider:last-of-type {
            display: none;
        }
        &__box--top-space {
            padding-top: 0;
        }
    }
}
