.gbyte-standalone-images {
    margin-bottom: to-rem(180px);

    .gbyte-container {
        width: 100%;
        margin: auto;
        max-width: 100%;
        padding: 0;
    }

    .gbyte-image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    @media (max-width: 992px) {
        margin-bottom: to-rem(70px);
        padding: 0 0;
    }

    @media (max-width: 768px) {
        padding: 0 to-rem(15px);
    }
}
