@use "base" as *;

/* ==========================================================================
                               Section text
   ========================================================================== */

.gbyte-text {
    width: 100%;
    max-width: to-rem(920px);
    margin: auto;
    padding-left: to-rem(30px);
    padding-right: to-rem(30px);
    .gbyte-container {
        .gbyte-text__wrapper {
            text-align: center;
            .gbyte-text__title {
                font-size: to-rem(32px);
                line-height: to-rem(38px);
                margin-bottom: to-rem(40px);
                color: $black-color;
            }

            .gbyte-text__content {
                font-size: to-rem(18px);
                line-height: to-rem(26px);
                margin-bottom: to-rem(26px);
                color: $second_text_color;
            }
        }
    }
}

@media (max-width: 992px) {
    .gbyte-text {
        .gbyte-container {
            padding: 0;
            .gbyte-text__wrapper {
                text-align: center;
                .gbyte-text__title {
                    font-size: to-rem(24px);
                    line-height: to-rem(28px);
                    margin-bottom: to-rem(40px);
                    color: $black-color;
                }
                .gbyte-headline-semi-big {
                    font-size: to-rem(32px);
                    line-height: to-rem(38px);
                    margin-bottom: to-rem(25px);
                    color: $black-color;
                }

                .gbyte-text__content {
                    font-size: to-rem(16px);
                    line-height: to-rem(26px);
                    margin-bottom: to-rem(26px);
                    color: $second_text_color;
                }
            }
        }
    }
}

/* =================================
        Section Big text
==================================== */

.section-big-text {
    background-color: #fafafa;
    .gbyte-container {
        width: 100%;
        margin: auto;
        padding: to-rem(65px) to-rem(110px);
        .wrapper {
            > p {
                font-size: to-rem(16px);
                line-height: to-rem(26px);
                color: $primary_color;
            }
        }
        .gbyte-big-text-container--grid {
            display: flex;
            justify-content: space-between;
            gap: 100px;
            align-items: center;
            text-align: center;
            margin-bottom: to-rem(60px);

            &--item {
                &:first-child {
                    p:first-child {
                        letter-spacing: to-rem(-15px);
                        text-align: left;
                    }
                }
                color: $black-color;
                p:first-child {
                    font-size: to-rem(120px);
                    line-height: to-rem(175px);
                    margin-bottom: 0;
                    font-weight: 500;
                    width: fit-content;
                }
                p:last-child {
                    font-size: to-rem(24px);
                    line-height: to-rem(28px);
                    text-align: left;
                }
            }
        }
        .h-line {
            background-color: #c5c5c5;
            height: to-rem(1px);
            width: 100%;
        }
    }
}

@media (max-width: 992px) {
    .section-big-text {
        background-color: #fafafa;
        .gbyte-container {
            width: 100%;
            max-width: to-rem(1130px);
            margin: auto;
            padding: to-rem(65px) to-rem(110px);

            .gbyte-big-text-container--grid {
                margin-bottom: to-rem(50px);
                &--item {
                    &:first-child {
                        p:first-child {
                            letter-spacing: to-rem(-5px);
                        }
                    }
                    p:first-child {
                        font-size: to-rem(52px);
                        line-height: to-rem(60px);
                    }
                    p:last-child {
                        font-size: to-rem(14px);
                        line-height: to-rem(28px);
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .section-big-text {
        .gbyte-container {
            .gbyte-big-text-container--grid {
                flex-wrap: wrap-reverse;
                gap: 30px;
                &--item {
                    &:nth-child(1) {
                        order: 3;
                    }
                    &:nth-child(2) {
                        order: 1;
                    }
                    &:nth-child(3) {
                        order: 2;
                    }

                    p:first-child {
                        font-size: to-rem(52px);
                        line-height: to-rem(60px);
                    }
                    p:last-child {
                        font-size: to-rem(14px);
                        line-height: to-rem(28px);
                        text-align: left;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
   Section Header
   ========================================================================== */
.gbyte-headline {
    padding: to-rem(40px) to-rem(30px);
    text-align: left;
    background-color: $white-color;

    &__title {
        font-size: to-rem(72px);
        line-height: to-rem(76px);
        margin-bottom: to-rem(20px);
        color: $black-color;
    }

    &__text {
        font-size: to-rem(18px);
        line-height: to-rem(26px);
        color: $black-color;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 992px) {
    .gbyte-headline {
        padding: to-rem(40px) to-rem(30px);
        text-align: left;
        background-color: $white-color;

        .gbyte-container {
            padding: 0;
        }

        &__title {
            font-size: to-rem(42px);
            line-height: to-rem(46px);
            margin-bottom: to-rem(15px);
            color: $black-color;
        }

        &__text {
            font-size: to-rem(16px);
            line-height: to-rem(26px);
            color: $black-color;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media (max-width: 768px) {
    .gbyte-headline {
        padding: to-rem(40px) to-rem(15px);
    }
}
